<div class="container">
  <div class="todo-list">
    <!-- Double curly braces binds the data from app.component.ts -->
    {{title}} 
    <div class="input-group">
      <!-- Uses newTask ID to send its value to add() as a local reference -->
      <input type="text" placeholder="Todo" #newTask>
      <!-- (click) = onClick() -->
      <button (click)="add(newTask.value)" class="add-button">+</button>
    </div>
    <table>
      <!-- *ngFor creates a for loop in Angular to create components for each task in the tasks array. -->
      <tr *ngFor="let task of tasks" class="even">
        <td>
          <pre>
            <!-- Double curly braces binds the data from app.component.ts -->
            {{task}}
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>